
  
  .container {
    width: 100%; /* Adjust width as needed */
    max-width: 800px; /* Maximum width of the box */
    border: 2px solid #141414; /* Border around the box */
    padding: 20px; /* Padding inside the box */
    background-color: #2888bb; /* Background color inside the box */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for a 3D effect */
  }
  
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6cd34a;
  
    /* Frame for the body element */
    border: 5px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .editor-frame {
    border: 1px solid #4a4545;
    padding: 15px;
    background-color: #701f99;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    background-color: #701f99;
  }
  
  .option-button {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 12px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .option-button:hover {
    background-color: #ddd;
  }
  
  .option-button i {
    font-size: 16px;
  }
  
  .control-select {
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  
  #text-input {
    min-height: 300px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    overflow-y: auto;
  }
  